@use "../../../sass/base.scss" as *;

.image-card-wrapper {
    cursor: pointer;

    &.bordered {
        border:1px solid $gray-100;
    }

    &.normal {
        border:1px solid transparent;
    }

    .image-card {

        &__img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            object-position: center;
        }

        &__label {
            color: $gray-900;
            text-align: center;
        }
    }
}